.button, .btn-rules {
    width: 300px; /* Фіксована ширина кнопок */
    height: 25px;
    padding: 10px 20px; /* Внутрішні відступи */
    align-items: center;

    background-color: rgba(34, 39, 46);
    border: 1px solid rgb(64, 72, 87);
    color: white;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.button-container, .btn-block {
    display: flex;
    flex-direction: column; /* Розташування кнопок вертикально */
    align-items: center; /* Вирівнювання по центру */
    gap: 10px;
}


/*************************************************************************************************************************/


.button {
    display: flex;
    justify-content: center;
}
    
.button:active {
    background-color: #a0142b; /* Колір фону при натисканні */
    transition: none;
    transition: background-color 0.1s;
}

@media (min-width: 768px) {
    .button-container {
        flex-direction: row; /* Горизонтально на ПК */
        flex-wrap: wrap; /* Дозволяє кнопкам переходити на новий рядок */
        justify-content: center; /* Вирівнювання по центру */
    }
        
    .button {
        flex: 1 1 45%; /* Кнопки займають 45% ширини контейнера */
        max-width: 45%; /* Максимальна ширина кнопки */
    }
}


/*************************************************************************************************************************/


.btn-rules {
    display: flex;
    justify-content: space-between;
    margin-top: -2px;
}

.btn-content {
    background-color: rgba(34, 39, 46);
    border: 1px solid rgb(64, 72, 87);
    width: 300px;
    
    /* Начальное состояние */
    height: 0;
    opacity: 0;
    transform: translateY(-10px);
    padding: 0;
    margin: 0;
    border-radius: 12px;
    overflow: hidden;
    
    /* Анимация */
    transition:
        height 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.3s ease 0.1s,
        transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        padding 0.3s ease;
}

.btn-content.visible {
    height: auto; /* Или фиксированная высота, если знаете точное значение */
    min-height: 0; /* Предотвращает артефакты в некоторых браузерах */
    opacity: 1;
    transform: translateY(0);
    padding: 0 20px;
    margin-bottom: 12px;
}

.arrow {
    width: 15px; /* Розмір зображення */
    height: 15px;
    vertical-align: middle; /* Вирівнювання по центру тексту */
    transition: transform 0.3s ease;
}

.arrow.rotate {
    transform: rotate(90deg);
}
