body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgba(29, 32, 38); 
}

header {
    background-color: rgba(29, 32, 38); 
    color: white;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

.container {
    color: white;
    padding: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    max-width: 5000px;
    margin: 10px 10px 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: left;
    border: 1px solid rgba(64, 72, 87);

    background: 
        radial-gradient(circle at 20% 30%, rgba(83, 192, 255, 0.1), transparent 40%),
        radial-gradient(circle at 80% 70%, rgba(29, 84, 114, 0.1), transparent 40%),
        radial-gradient(circle at 40% 90%, rgba(255, 255, 255, 0.1), transparent 40%),
        #0f0f15;
    background-size: 200% 200%;
    animation: gentleFlow 20s linear infinite;
}

@keyframes gentleFlow {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}

.down {
    font-size: 10px;
    opacity: 0.33;
    text-align: center;
}

.poloska {
    display: block;
    width: 100%; /* Довжина лінії */
    height: 1px; /* Товщина лінії */
    background: rgba(64, 72, 87);
    margin: 10px auto; /* Відступи зверху/знизу + центрування */
}
